DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=wompi_test

PORT=3000

WOMPI_BASE_URL=https://api-sandbox.co.uat.wompi.co/v1
WOMPI_PUBLIC_KEY=...
WOMPI_PRIVATE_KEY=...
WOMPI_INTEGRITY_SECRET=...